<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>评论-闲言轻博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/mian.css">
</head>
<body class="lay-blog">
{{template "comm/head.html" .}}
<div class="container-wrap">
    <div class="container container-message container-details">
        <div class="contar-wrap">
            <div class="item">
                {{template "comm/note_tpl.html" .note}}
            </div>
            <a name="comment"> </a>
            <div class="comt layui-clear">
                <a href="javascript:;" class="pull-left">评论</a>
                <a href="/comment/{{.note.Key}}" class="pull-right">写评论</a>
            </div>
            <div id="LAY-msg-box">
                {{range .messages}}
                <div class="info-item">
                    <img class="info-img" src="/static/img/info-img.png" alt="">
                    <div class="info-text">
                        <p class="title count">
                            <span class="name">{{.User.Name}}</span>
                            <span class="info-img like"><i class="layui-icon layui-icon-praise"></i>{{.Praise}}</span>
                        </p>
                        <p class="info-intr">
                        {{.Content}}
                        </p>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </div>
</div>
{{template  "comm/foot.html" .}}
<script>
    //这儿输出直接就是json对象
    //将文章的信息拼成json对象赋值给note变量
    var user = {{.User}};
    var note = {userId:{{.note.UserID}}, key:{{.note.Key}}};
    layui.use(["util", "jquery"], function () {
        var util = layui.util, $ = layui.jquery;
        //用户必须登陆
        // 登陆的用户的role必须为0，可以修改文章
        //登陆的用户的id,必须等于当前文章详情页的文章所属用户的id
        console.log("用户："+user.id);
        console.log("笔记："+note.userId);
        if (user && user.id > 0 && user.Role === 0 && user.id === note.userId) {
            util.fixbar({
                    bar1: '&#xe642;',//编辑的图标
                    bar2: '&#xe640;',  //删除的图标
                    click: function (type) {
                        console.log(type)
                        if (type === 'bar1') {
                            window.location.href = "/note/edit/" + note.key
                        }
                        if (type === 'bar2') {
                            //删除逻辑
                            $.post("note/del/"+note.key,function (data){
                                if (data.code === 0){
                                    layer.msg("删除成功");
                                    if (data.action){
                                        setTimeout(function (){
                                            window.location.href = data.action;
                                        },300);
                                    }
                                } else{
                                    layer.msg("删除失败："+data.msg)
                                }

                            },"json").error(function(){
                               layer.msg("网络异常")
                            });
                        }
                    }
                }
            )
        }
    })
    ;
</script>
</body>
</html>